@media screen and (max-width:386px){

    .nike{
        margin-left:2px;
        margin-bottom:2px;
        
    }
   .main{
    display: block;
   }
   .main{
       margin-left: 10px;

   }
   .left h1{
        font-size: 30px;
        display: block;
        text-align: center;
        line-height: 38px;
        width: 50%;
        font-size: 40px;
        margin-left: 10px;
        word-wrap: break-word;
   }
   .left p{
            margin-top: -100px;
            word-wrap: break-word;
            width: 50%; 

    
   }
   .right img{
    margin-top: -360px;
    margin-left: 10px;
    width: 75%;
   }
   .btn1{
    /* margin-right: 100px; */
    /* width: 25%; */
   }
   
}