*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    list-style: none;
    color: black;
}
.flex{
    display: flex;
    text-align: center;
}
.navbar-nav{
    margin-left: 300px;
    gap: 15px;
    color: black!important;
    font-weight: 500;
}
 .navbar-brand{
    width: 76px;
    height: 42.75px;
    margin-top: 15px;
    margin-left: 85px;
}
.btn1{
    margin-right: 76px; 
    gap: 0px;
    font-size: 16px;
    font-weight: 300;
    background-color: #D01C28!important;
    color: white!important;
    width: 75px;
    border: none!important;

}
.btn1a{
    width:  150px;
    height:  41px;
    padding: 6px 16px 6px 16px;
    gap: 10px;
    opacity: 0px;
}
.btn2{
    width: 110px;
    height: 41px;
    font-size: 21px;
    font-weight: 200;
    line-height: 29px;
    text-align: left;
    padding: 1px 16px 6px 10px;
    gap: 10px;
    border: 2px solid grey;
    opacity: 0px;
    cursor: pointer;
}
.main{
    width:  1,125px;
    height:  613px;
    margin-top: 100px;
    margin-left: 157px;
    gap: 0px;
    opacity: 0px;
    overflow: hidden;
}
.left{
    width:595px;
    height:613px;
    gap:36px;

}
.left h1{
    width: 570px;
    height: 230px;
    font-family: sans-serif!important;
    font-size: 75px;
    font-weight: 800;
    line-height: 70px;
    text-align: left;
    display: block;
    white-space: pre-line; 

    text-align: left;
}
.left p{
    width: 404px;
    height: 91px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #5A5959;
    text-align: justify;
}
.end{
    width:  131px;
    height:  67px;
    gap: 0;
    margin-top: 30px;
}

.icon{
    width: 32px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    margin-left:-70px;
}