*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    list-style: none;
    color: black;
}
.flex{
    display: flex;
    text-align: center;
}
.navbar-nav{
    margin-left: 300px;
    gap: 15px;
    color: black!important;
    font-weight: 500;
}
 .navbar-brand{
    width: 76px;
    height: 42.75px;
    margin-top: 15px;
    margin-left: 85px;
}
.btn1{
    margin-right: 76px; 
    gap: 0px;
    font-size: 16px;
    font-weight: 300;
    background-color: #D01C28!important;
    color: white!important;
    width: 75px;
    border: none!important;
    transition: .1s ease in;
    border-radius: 30px;

}
.btn2:hover{
    color: white;
    background-color: black!important;
}
.btn1:hover{
    color: white;
    background-color: black!important;
}
.btn1a{
    width:  150px;
    height:  41px;
    padding: 8px 16px 6px 16px;
    gap: 10px;
    opacity: 0px;
    
}
.btn2{
    width: 110px;
    height: 41px;
    font-size: 16px;
    font-weight: 200;
    line-height: 29px;
    text-align: left;
    padding: 5px 6px 10px 20px;
    gap: 10px;
    border: 2px solid grey;
    opacity: 0px;
    cursor: pointer;
    border-radius: 30px;

}
.main{
    width:  1,125px;
    height:  613px;
    margin-top: 100px;
    margin-left: 157px;
    gap: 0px;
    opacity: 0px;
    overflow: hidden;
}
.left{
    width:595px;
    height:613px;
    gap:36px;

}
.left h1{
    /* width: 570px; */
    height: 230px;
    font-family: sans-serif!important;
    font-size: 75px;
    font-weight: 800;
    width: 100%;
max-width: 100%;
    line-height: 70px;
    text-align: left;
    display: block;
    white-space: pre-line; 

    text-align: left;
}
.left p{
    width: 404px;
    height: 91px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #5A5959;
    text-align: justify;
}
.end{
    width:  131px;
    height:  67px;
    gap: 0;
    margin-top: 30px;
}

.icon{
    width: 32px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    margin-left:-70px;
}

--------post.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
   
    <link rel="stylesheet" href="../login.css">
</head>
<body>
    
   <h1>post page</h1>

   <textarea name="" placeholder="Type Something..." id="content"></textarea><br><br><br>
   <input type="file" id="imageFile"><br><br>
   <button id="post-btn">+ Add Post</button>

   <script src="../src/auth.js" type="module"></script>
   <script type="module" src="../src/post.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/appwrite@17.0.0"></script>
</body>
</html>
--------------------------------------------------------------------------------------config.js
import { initializeApp } from "https://www.gstatic.com/firebasejs/11.3.0/firebase-app.js";
import {
  getAuth,
  createUserWithEmailAndPassword,
  onAuthStateChanged,
} from "https://www.gstatic.com/firebasejs/11.3.0/firebase-auth.js";
import {
  getDatabase,
  set,
  ref,
} from "https://www.gstatic.com/firebasejs/11.3.0/firebase-database.js";


const firebaseConfig = {
  apiKey: "AIzaSyAUby9tQlTb1oRWWNUJJFx3XZ4MWFAFC40",
  authDomain: "blog-app-3c075.firebaseapp.com",
  projectId: "blog-app-3c075",
  storageBucket: "blog-app-3c075.firebasestorage.app",
  messagingSenderId: "180806435607",
  appId: "1:180806435607:web:499a10a41c6ef43d8f6d52"
};
const app = initializeApp(firebaseConfig);
const auth = getAuth(app);
const database = getDatabase(app);

export {
  auth,
  createUserWithEmailAndPassword,
  database,
  ref,
  set,
  onAuthStateChanged,
};

--------------------------------------------------------------------------------------auth
    import {
  auth,
  db,
  getAuth,
  createUserWithEmailAndPassword,
  signInWithEmailAndPassword,
  onAuthStateChanged,
} from "./Config/Auth";

const handleSignup = () => {
    const email = document.getElementById("email-signup").value;
    const password = document.getElementById("password-signup").value;
  
    if (email && password) {
      createUserWithEmailAndPassword(auth, email, password)
        .then((userCredentials) => {
  
          const usersRef = ref(database , `users/${userCredentials.user.uid}/`)
          
          set(usersRef , {
            email: email,
            createdAt: new Date().getTime()
          })
          .then((user) => {
            console.log(user);
            alert("User Created Successfully");
            window.location.href = "../dist/post.html";
          })
          .catch((error)=>{
            alert(error.message);
          })
        })
        .catch((error) => {
          console.log(error);
        });
    }
  };
  const handleLogin = () => {
    const email = document.getElementById("email-login").value;
    const password = document.getElementById("password-login").value;
  
    if (email && password) {
        signInWithEmailAndPassword(auth,email,password)
        .then((userCredentials) => {
            console.log(userCredentials);
            alert("User Logged In Successfully");
            window.location.href = "./quiz.html";
        })
        .catch((error) => {
          alert(error.message);
        });
    }
  };
  onAuthStateChanged(auth,(user)=>{
    const LogOutBtn = document.getElementById("logout-btn")
    if(user){
        LogOutBtn.style.display = "block";
        LogOutBtn.addEventListener("click",(e)=>{
            e.preventDefault();
            signOut(auth);
            window.location.href = "./signUp.html"
        })
    }
    else{
        console.log("user not logged in");
        LogOutBtn.style.display = "none";
    }
  })
  const SignUpbtn = document.getElementById("Signup-btn")
  if(SignUpbtn){
    SignUpbtn.addEventListener("click",(e)=>{
        e.preventDefault();
        handleSignup();
    })
  }

  const Loginbtn = document.getElementById("Login-btn")
  if(Loginbtn){
    Loginbtn.addEventListener("click",(e)=>{
        e.preventDefault;
        handleLogin();
    })
  }
--------------------------------------------------------------------------------------post
        import { Client, Account } from 'appwrite';

export const client = new Client();

client
    .setEndpoint('https://cloud.appwrite.io/v1')
    .setProject('67a6f65b002f61ba630e'); // Replace with your project ID
    export const account = new Account(client);

const addPost = (imagesrc)=>{
    const content = document.getElementById("content").value;
    const imageFile = document.getElementById("imageFile").files[0];

    const promise = storage.createFile(
        '67a6fd3d0003b93a6a65',
        '[COLLECTION_ID]',
        ID.unique(),
        imageFile
    );

    promise.then(
        function (response) {
            console.log(response);
        },
        function (error) {
            console.error(error);
        }
    )
}
const uploadImage = ()=>{

}
const button = document.createElement("post-btn");
button.addEventListener("click", addPost);
        --------------------------------------------------------------------------------------index
        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <script src="../src" type="module"></script>
</body>
</html>
                --------------------------------------------------------------------------------------index






























